@model TechXpress.Models.Users

@{
    ViewData["Title"] = "Sign In";
}

<h1>Sign In</h1>

<form asp-action="SignIn" asp-controller="Account" method="post">
    
    <div class="form-group" asp-validation-summary="All">
        <span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Sign In" class="btn btn-primary" />
     
        <a class="btn btn-secondary" asp-action="SignUp">Sign Up</a>
    </div>
</form>


