@model TechXpress.Models.Products

@{
    ViewData["Title"] = "Create Product";
    var categoryId = (ViewData["CategoryId"] != null) ? ViewData["CategoryId"].ToString() : "";
}

<h1>Create New Product for @categoryId </h1>

<form asp-action="Create" asp-route-categoryId="@categoryId">
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Stock" class="control-label"></label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageURL" class="control-label"></label>
        <input asp-for="ImageURL" class="form-control" />
        <span asp-validation-for="ImageURL" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="CategoryID" value="@categoryId" />

    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index" asp-route-categoryId="@categoryId">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
